<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewHungryCougar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFECDD361D4EE5B000E626D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFECDD4A1D4EE5B100E626D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFECDD551D4EE5B100E626D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
