<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>546417801072-t4cljq7jktvp9cd6gs7e922tgram9j10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546417801072-t4cljq7jktvp9cd6gs7e922tgram9j10</string>
	<key>API_KEY</key>
	<string>AIzaSyAtbjyg925TKJeVRMy47PcHE0nBPzMnogs</string>
	<key>GCM_SENDER_ID</key>
	<string>546417801072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kylenakamura.hungrycougar</string>
	<key>PROJECT_ID</key>
	<string>hungrycoug</string>
	<key>STORAGE_BUCKET</key>
	<string>hungrycoug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:546417801072:ios:cfcd9b077387ef8b</string>
	<key>DATABASE_URL</key>
	<string>https://hungrycoug.firebaseio.com</string>
</dict>
</plist>